@using DataTables.NetStandard.Enhanced.Sample.DataTables

@{
    ViewData["Title"] = "Home Page";
    var DataTable = (PersonDataTable)ViewBag.DataTable;
}

<div class="table-responsive">
  @Html.Raw(DataTable.RenderHtml())
</div>

@section Scripts
{
  <script type="text/javascript">
    $(document).ready(function () {
      @Html.Raw(DataTable.RenderScript(Url.Action("TableData", "Persons")))
    });
  </script>
}
