@using DataTables.NetCore.Sample.DataTables
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Home Page";
    var DataTable = (PersonDataTable)ViewBag.DataTable;
}

<div class="table-responsive">
  @Html.Raw(DataTable.RenderHtml())
</div>

@section Scripts
{
  <script type="text/javascript">
    $(document).ready(function () {
      @Html.Raw(DataTable.RenderScript(Url.Action("TableData", "Persons")))

      yadcf.init(
        dt_@Html.Raw(DataTable.GetTableIdentifier()),
        [
          { column_number: 0, filter_type: 'text', filter_delay: 350, filter_reset_button_text: false, style_class: 'form-control-sm', exclude: true },
          { column_number: 1, filter_type: 'text', filter_delay: 350, filter_reset_button_text: false, style_class: 'form-control-sm' },
          { column_number: 2, filter_type: 'text', filter_delay: 350, filter_reset_button_text: false, style_class: 'form-control-sm' },
          { column_number: 5, filter_type: 'select', filter_reset_button_text: false, style_class: 'form-control-sm', data: @Html.Raw(JsonConvert.SerializeObject(DataTable.GetDistinctColumnValues("postCode")))}
        ],
        {
          filters_position: 'footer'
        });
    });
  </script>
}
