@{
    ViewData["Title"] = "Home Page";
}

<div class="table-responsive">
  @Html.Raw(ViewBag.DataTableHtml)
</div>
@section Scripts
{
  <script type="text/javascript">
    $(document).ready(function () {
      @Html.Raw(ViewBag.DataTableScript)
    });
  </script>
}
