@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
  <div class="col-sm-12">
    <table id="users"></table>
  </div>
</div>
@section Scripts
{
  @{ var ajaxUrl = Url.Action("IndexData", "Home"); }

  <script type="text/javascript">
    $('#users').DataTable({
      serverSide: true,
      ajax: '@ajaxUrl',
      columns: [
        { data: 'id' },
        { data: 'name' },
        { data: 'email' },
        //{ data: 'dateOfBirth' },
      ]
    });
  </script>
}
