@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
  <div class="col-sm-12">
    @Html.Raw(ViewBag.DataTableHtml)
  </div>
</div>
@section Scripts
{
  <script type="text/javascript">
    @Html.Raw(ViewBag.DataTableScript)
  </script>
}
